:root {
  /* font */
  --font-01: "Montserrat", sans-serif;
  --font-02: "Poppins", sans-serif;
  --font-03: "Roboto", sans-serif;
  --font-04: "Spline Sans Mono", monospace;
  --font-05: "Dancing Script", cursive;
  /* font */

  /* color */
  --deep-purple: #2a2550;
  --dark: #354259;
  --putih: #ffff;
  --abu-abu: #8d8daa;
  --biru: #013145;
  --orange: #ff6701;
  /* color */

  /* shadow */
  --shadow-text-1: 1px 1px 2px #000;
  --shadow-link-2: 1px 0.5px 2px #000000;
  /* Shadow */
}
body {
  font-family: var(--font-01);
}
/* navbar */
.navbar {
  background-color: var(--dark);
}
.navbar-brand {
  font-family: var(--font-04);

  color: var(--orange);
  text-transform: uppercase;
}
.nav-link {
  color: var(--orange);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 14px;
}
/*  */
/* header */
header {
  background-color: var(--biru);
  margin-top: 3rem;
  background-image: url(img/hero-background.jpg);
  background-size: cover;
  margin-bottom: 50px;
}

.hero-text {
  color: var(--abu-abu);
  font-family: var(--font-01);
  margin-top: 5rem;
  text-shadow: var(--shadow-text-1);
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 3px;
}
.hero-text-name {
  color: var(--orange);
  font-size: 4rem;
}
.hero-link {
  color: var(--dark);
  font-size: 1.5em;
  text-shadow: var(--shadow-link-2);
}
.hero-text-p {
  letter-spacing: 2px;
  font-size: 12px;
  text-shadow: var(--shadow-text-1);
}
.hero-text-p2 {
  background-color: var(--orange);
  padding: 5px;
  color: var(--putih);
  text-shadow: var(--shadow-text-1);
  font-weight: 500;
}
.portofolio {
  background-color: var(--biru);
  color: var(--putih);
}
.text-heading {
  font-family: var(--font-03);
  font-size: 2rem;
  font-weight: 600;
}
.card-text {
  color: var(--abu-abu);
  font-size: 14px;
  text-align: center;
}
.porto-link:hover {
  background-color: var(--biru);
  text-decoration: none;
  /* opacity: 0.5; */
}
@media (min-width: 992px) {
  header {
    background-color: var(--biru);
    margin-top: 3rem;
    background-image: url(img/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
  footer {
    background-color: var(--dark);
    color: var(--orange);
    padding: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--font-02);
  }
}
